body{
    margin: 0;
    padding: 0;
    background-color:#2f3640 ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 350px;

    padding: 20px;
    background-color:#fff ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.input-container{
    display: flex;
    width: 100%;
    align-items: center;
    border: 2px solid #70e6f3;
    border-radius: 10px;
    overflow: hidden;
}
.search-icon{
    cursor: pointer;
}
.search-icon img{
    width: 54px;
    height: 54px;
    
}
.cityInput{
    flex: 1;
    height: 30px;
    outline: none;
    border: none;
}
.image{
    text-align: center;
    height: 150px;
    margin-bottom: 10px;
}
.image img{
    width:200px;
    height: 160px;
}
.temp,
.location,
.country{
    margin-top: 5px;
    font-size: 35px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}
.temp{
    font-weight: 700;
}
.location{
    font-weight: 400;
    color: rgb(243, 114, 8);
    font-size: 40px;
}
.country{
    font-size: 18px;
    color: #888;
}  
.cord{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
}
.cord div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cord div span{
    font-size: 14px;
}
.cord div span:first-child{
    font-weight: 700;
    font-size: 18px;
    color: #666;
    padding-top: 5px;
}

.icon{
    height: 50px;
    width: 50px;
    
}
.data-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* background-color: #333; */
}
.element{
    text-align: center;
    
}
.copyright{
    text-align: center;
    font-size: 12px;
    color: #888;
}
.copyright span {
    color: rgb(37, 34, 34);
}
.city-not-found,
.loading-message,
.error-message{
    font-size: 20px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}
