.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  flex-direction: column;
  gap: 10px;
}
.progress-container{
  height: 20px;
  width: 300px;
  border: 2px solid#ccc;
  overflow: hidden;
  border-radius: 35px;
}
.progress{
  height: 100%;
  width: 100%;
  background-color: tomato;
  /* transform: translateX(); */
}